#root {
    font-family: 'Inter', sans-serif;
}
.scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.4);
}

.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    width: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.scrollbar-custom::-ms-scrollbar {
    width: 8px;
}

.scrollbar-custom::-ms-scrollbar-track {
    background: rgba(0, 0, 0, 0.16);
}

.scrollbar-custom::-ms-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
}
