.scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.4);
}

.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    width: 8px;
}

.scrollbar-shadow {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
}
